appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
certifi==2020.6.20
cli-exit-tools==1.1.7
click==7.1.2
colorama==0.4.3
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.1
django-cors-headers==3.5.0
djangorestframework==3.12.2
fake-winreg==1.5.5
filelock==3.0.12
gunicorn==20.0.4
isort==5.5.3
lazy-object-proxy==1.4.3
lib-platform==1.2.6
lib-registry==2.0.5
mccabe==0.6.1
pipenv==2020.8.13
psycopg2==2.8.6
pylint==2.6.0
pytz==2020.1
pywin32==228
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
virtualenv==20.0.31
virtualenv-clone==0.5.4
whitenoise==5.2.0
WMI==1.5.1
wrapt==1.12.1
